.ui__container {
  position: fixed;
  inset: 0;
  z-index: 10;

  .ui__sections {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;         // ensure it covers full viewport
    pointer-events: none; // let pointer events fall through to canvas
    z-index: 2;

    * {
      pointer-events: auto;
    }
    // background-color: rgba(255, 0, 0, 0.1);
  }
  .ui__hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.section_one {
  opacity: 0;
}
// .section_one {
//   animation: fadeIn 1s ease-out forwards;
//   animation-delay: 0.2s;
// }

// .section_two {
//   animation: fadeIn 1s ease-out forwards;
//   animation-delay: 0.4s;
// }

// .section_three {
//   animation: fadeIn 1s ease-out forwards;
//   animation-delay: 0.6s;
// }
// @keyframes fadeIn {
//   from {
//     opacity: 0;
//     transform: translateY(40px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }



// If you have interactive elements inside these sections (e.g. buttons), override like this:
// .ui__sections button,
// .ui__sections a {
//   pointer-events: auto; // Re-enable for specific elements
// }