.dropDownMenu {
  border: 1px solid orange;
  width: 100%;
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;

  .dropdown__container {
    position: relative;

    .dropdown__button {
      cursor: pointer;
      font-size: 16px;
      padding: 0;
    }
    .dropdown__item {
      width: 100%;
      // background-color: #f1f1f1;
      border: 1px solid blue;
      position: relative;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
      left: 0;

      ul {
        border: 1px solid red;
      }
    }
    .show {
      max-height: 300px;
    }
  }    
}


