#hubspot-form-container {
  display: none;
  visibility: hidden;
}


#contact_id {
  width: 75%;
  margin: 100px auto;
  max-width: 1280px;

  .contact__heading_body {
    margin-bottom: 50px;

    h1 {
      // font-size: 2rem;
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 20px;
    }

    .heading_body {

    }
    .social_icons {

      display: flex;

      a {
        display: flex;
        margin-right: 15px;

        img {
          width: 17px;
          height: auto;
        }
      }
    }
  }



  form {
    p, 
    label {
      // color: gray;
      // font-size: 0.9rem;
      font-weight: 300;
      margin-bottom: 5px;
      -webkit-font-smoothing: antialiased;
    }
    span {
      // color: gray;
      font-size: 0.8rem;
      margin-left: 5px;
    }
    input {
      border: 1px solid black;
      color: black;
      height: 40px;
      font-family: Open sans;
      font-size: 16px;
      padding-left: 10px;
    }
    textarea {
      border: 1px solid black;
      height: 100px;
      color: black;
      font-family: Open sans;
      font-size: 16px;
      padding: 10px;
    }
    .name__container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .first_name {
        width: 49.5%;
        display: flex;
        flex-direction: column;

        label {
          font-size: 0.8rem;
        }

        input {
          background-color: #f5f5f5;
        }
      }
      .last_name {
        width: 49.5%;
        display: flex;
        flex-direction: column;

        label {
          font-size: 0.8rem;
        }

        input {
          background-color: #f5f5f5;
        }
      }
    }


    .email {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input {
        background-color: #f5f5f5;
      }
    }

    .company {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input {
        background-color: #f5f5f5;
      }
    }

    .message {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      textarea {
        background-color: #f5f5f5;
      }
    }

    .checkboxes {
      margin-bottom: 25px;
      p {

      }
      label {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
          width: 15px;
          height: 15px;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: #f5f5f5;
          border: 1px solid black;
          cursor: pointer;
          margin-right: 10px;
          outline: none;
          position: relative;
        }
        input[type="checkbox"]:checked {
          background-color: black;
        }
        input[type="checkbox"]:checked::after {
          content: "✔";
          font-size: 12px;
          color: white;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-weight: bold;
        }
      }
    }

    .btn__submit_form {
      background-color: var(--dark-gray-2B282C);
      color: white;
      padding: 15px 25px;

      p {
        font-size: 0.9rem;
        letter-spacing: 1px;
        margin: 0;
      }
    }
  }


  // -------------------- MEDIA QUERIES
  @media (max-width: 820px) {
    width: 100%;
    padding: 25px 25px 0;
  }
  @media (max-width: 568px) {
    // form {
    //   .name__container {
    //     flex-direction: column;
        
    //     .first_name {
    //       margin-bottom: 20px;
    //     }
    //     .first_name,
    //     .last_name {
    //       width: 100%;
    //     }
    //   }
    // }
  }
}



.form__error_message {
  font-size: 20px;
  color: red;
}

.form__success_message {
  font-size: 20px;
  color: green;
}


// -------------------- LIGHT / DARK MODE
html.light {

}
html.dark {
  // #hubspotForm {
  //   border: 1px solid red;
  //   background-color: var(--off-white-f5f5f5);
  //   padding: 20px;
  //   color: white !important;
  // }
}
