#nav__header {
  box-shadow: 0 0 1px silver;
  position: sticky;
  top: 0;
  // overflow: hidden;
  z-index: 9999;

  .nav {
    border: 0 solid #00f;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    position: relative;
    margin: 0 auto;
    max-width: 1440px;

    .hidonix__logo {
      width: 100px;
      height: 60px;

      a {
        img {
          width: 100%;
          height: 55px;
          min-width: 100px;
        }
      }
    }
    
    .nav__links_container {
      display: flex;
      position: relative;

      ul.nav__page_links {
        // border: 1px solid blue;
        height: 100%;
        display: flex;
        align-self: center;
        margin-right: 25px;

        li {
          align-self: center;
          list-style: none;
          
          a {
            color: unset;
            font-size: 15px;
            padding: 10px;
            text-decoration: none;

            &.activeLink {
              text-decoration: underline;
            }
          }
        }
        li.products__btn {
          position: relative;

          &:hover {
            // border: 1px solid red;

            .nav__products_page_links {

              opacity: 1;
              visibility: visible;
              z-index: 100;
            }
          }
          .nav__products_page_links {
            // border: 1px solid red;
            width: 300px;
            background-color: white;
            color: black;
            padding: 10px;
            position: absolute;
            top: 35px;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            z-index: -10;
    
    
            ul {
              margin: 0;
              padding: 0;
    
              li {
                list-style: none;
                margin-bottom: 5px;

                a {
                  padding: unset;
                }
              }
              li.it-class:last-of-type {
                display: none;
              }
            }
          }
        }
      }

      .localeswitcherselect__container {
        height: 30px;
        align-self: center;
        display: flex;
        margin-left: 10px;
        padding: 2px 0;
        position: relative;
      
        &:hover {
          cursor: pointer;
      
          select {
            opacity: 1;
          }
        }
      
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: unset;
        }
        p:last-of-type {
          font-size: 15px;
          padding: 3px 5px;
        }
        select {
          border: 0;
          position: absolute;
          right: 20px;
          bottom: -20px;
          opacity: 0;
          transition: 0.3s;
      
          option {
            background-color: black;
          }
        }
        // span {}
      }

      .nav__social_links {
        align-self: center;
        display: flex
        ;
        padding: 0 3vw;

        a {
          display: flex;
          align-items: center;
          padding: 0 10px;

          img {
            width: 17px;
            height: auto;
          }
        }
      }
      .nav__contact_us {
        min-width: 115px;
      }
      .nav__contact_us,
      .nav__contactus_light,
      .nav__contactus_dark {
        height: 50px;
        font-size: 0.8rem;
        display: flex;
        text-decoration: none;
        align-items: center;
        align-self: center;
        padding: 20px 25px;
      }
      .nav__contactus_light {
        background-color: #000;
        color: #fff;
      }
      .nav__contactus_dark {
        background-color: #fff;
        color: #000;
      }
    }
  }


  // -------------------- MEDIA QUERIES
  @media (max-width: 1024px) {
    .nav {
      .hidonix__logo {
        height: auto;

        a {
          img {
            height: 45px;
          }
        }
      }
      .nav__links_container {
        ul.nav__page_links {
          flex-wrap: wrap;
          margin-right: 15px;

          li {
            padding: 5px 0;

            a {
              // padding: 10px 5px;
            }
          }
        }
        .nav__social_links {
          padding: 0 1vw;
        }
      }
    }



  }
  @media (max-width: 768px) {
    // #nav__header {
      display: none;
    // }
  }
}


// -------------------- DARK / LIGHT MODE
// This way prevents : Hydration error. Server/Client mismatch.
html.light {
  #nav__header {
    background-color: var(--white-fff);
    // .hidonix__logo {
    //   background-image: url("../../public/home-imgs/hidonix-line-logo-black.svg");
    // }
    .nav__contact_us {
      background-color: var(--black-000);
      color: var(--white-fff);
    }
  }
}

html.dark {
  #nav__header {
    background-color: var(--black-000);
    // border-bottom: 1px solid gray;
    
    // .hidonix__logo {
    //   background-image: url("../../public/home-imgs/hidonix-line-logo-white.svg");
    // }
    .nav__contact_us {
      background-color: var(--white-fff);
      color: var(--black-000);
    }
  }
}