* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
}

h1, h2, h3, h4, h5, h6, p, a, span {
  /* font-family: 'Raleway', sans-serif; */
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem; /* 40px */
}
h2 {
  font-weight: 400;
  font-size: 2rem; /* 32px */
}
h3 {
  font-weight: 400;
  font-size: 1.7rem; /* 27.2px */
}
h4 {
  font-weight: 400;
  font-size: 1.125rem; /* 16px */
}
h5 {
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
}
p {
  font-weight: 300;
  font-size: 1.125rem; /* 18px */
  line-height: 150%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media (max-width: 768px) {
  h1 { font-size: 2rem !important; }
  h2 { font-size: 1.8rem !important; }
}
@media (max-width: 430px) {
  h1 { font-size: 1.7rem !important; }
}





// ---------- NOT FOUND PAGE ----------
.not_found {
  // border: 2px solid #00f;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  max-height: 100vh;

  .bkgd_img {
    width: 100%;
    height: auto !important;
    object-fit: cover;
    /* position: absolute !important; */
    /* display: block; */
    position: unset !important;
  }
  .img_copy__wrapper {
    // border: 2px solid red;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 25px;
    position: absolute;
    text-align: center;

    .img_copy__container {
      margin: 0 auto;
      max-width: 1280px;

      .icon {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
        position: relative;
      }
      h2 {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 10px;
      }
      p:last-of-type {
        margin-bottom: 30px;
      }
      button {
        background-color: white;
        border: none;
        padding: 20px 30px;
        a {
          color: black;
          font-family: open sans;
          font-size: 1rem;
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
    // top: 60px;
    .bkgd_img {
      min-height: 600px;
    }
    .img_copy__wrapper {
      .img_copy__container {
        .icon {
          width: 75px;
        }
      }
    }
  }
}



/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */







