.html_container2 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .sections_container {
    display: flex; /* Align sections horizontally */
    flex-direction: row; /* Ensure items are aligned horizontally */
    width: max-content; /* Allow the width of the container to adjust based on its content */
    height: 100%;

    .section {
      width: 100vw; /* Make each section take up full viewport width */
      height: 100vh; /* Each section takes full height */
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid red; /* Debugging */
    
      /* Adding different background colors for each section */
    }
    .section__one {
      background-color: #ff4d4d; /* Red */
    }
    
    .section__two {
      background-color: #4dff4d; /* Green */
    }
    
    .section__three {
      background-color: #4d4dff; /* Blue */
    }
    
    .section__four {
      background-color: #ffff4d; /* Yellow */
    }
    
    .section__five {
      background-color: #ff4dff; /* Pink */
    }
    
    .section__six {
      background-color: #4dfffb; /* Cyan */
    }
  }
}
