.accordion {
  width: 100%;
  // border: 1px solid #ccc;
  border-radius: 5px;

  .accordion__item:first-of-type {
    border-top: 1px solid #ccc;
  }
  .accordion__item:last-of-type {
    border-bottom: 1px solid #ccc;
  }
  
  .accordion__item {
    border-bottom: 1px solid #ccc;

    .accordion__header {
      width: 100%;
      padding: 15px 0;
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 300;
      // background: #f7f7f7;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      transition: background 0.3s ease;

      p {
        strong {
          font-weight: 400;
        }
      }

      .arrow__up,
      .arrow__down {
        width: 20px;
        height: 20px;
      }
    }
    // .accordion__header:hover {
    //   background: #e7e7e7;
    // }

    .accordion__content {
      padding: 0;
      // background: #fff;
      font-size: 14px;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;

      p {
        font-size: 1rem;
        padding-bottom: 25px;
      }
    
      // pre {
      //   margin-bottom: 25px;
      // }
    }
  }
}

// -------------------- DARK / LIGHT MODE
// This way prevents : Hydration error. Server/Client mismatch.
html.light {
  .accordion {
    .accordion__header {
      color: black;
      background-color: var(--off-white-f5f5f5);
    }
  }
}

html.dark {
  .accordion {
    .accordion__header {
      color: white;
      background-color: var(--dark-gray-2B282C);
    }
  }
}