#project_view__id {
  width: 100vw;
  height: auto;
  position: relative;

  h2 {
    font-size: 2.5rem;
  }
  
  
  // ---------- SECTION 1 - HERO
  .project__hero {
    width: 100vw;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .heading_subheading {
      color: white;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      z-index: 1;

      .heading,
      .subheading {
        opacity: 0;
        position: relative;
      }

      h1 {
        font-size: 5rem;
        margin-bottom: 20px;
      }
      h2 {
        width: 75%;
        margin: 0 auto;
        text-align: center;
      }
    }

    img {
      object-fit: cover;
    }

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
    }
  }


  // ---------- SECTION 2 - INTRODUCTION
  .project__section2 {
    // border: 2px solid blue;
    width: 100vw;
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
    padding: 125px 50px;
    position: relative;

    .heading {
      width: 100vw;
      position: relative;

      h2 {
        margin-bottom: 25px;
      }
    }
    .body_img_video {
      display: flex;

      .body {
        width: 50%;
        position: relative;
      }

      p {
        width: 100%;
        font-size: 1.2rem;
        line-height: 150%;
        margin-bottom: 20px;
        padding-right: 100px;
      }
      img {
        width: 50%;
        height: auto;
        max-height: 385px;
        object-fit: cover;
        position: relative;
      }
      .youtube_video {
        width: 50%;
      }
    }
    .list_items {
      // border: 1px solid red;
      margin-top: 50px;

      .locations_list_heading {
        margin-bottom: 20px;

        hr {
          width: 25%;
          height: 1px;
          margin-bottom: 50px;
        }
        p {
          font-size: 1.3rem;
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          width: 25%;
          list-style: none;
          margin-bottom: 45px;
        }
      }
      p {
        strong {
          font-weight: 400;
        }
      }

    }
  }


  // ---------- SECTION 3 - PROJECT OBJECTIVES
  .project__section3 {
    // border: 1px solid red;
    background-color: var(--dark-gray-2B282C);
    color: white;
    margin: 0 auto;
    padding: 125px 0px;

    .heading {
      margin: 0 auto 50px;
      max-width: 1280px;
      padding: 0 50px;
      text-align: center;

      h2 {

      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1280px;
      padding: 0 50px;

      li {
        width: 50%;
        list-style: none;
        margin-bottom: 50px;
        padding-right: 50px;

        p {
          margin-bottom: 20px;

          strong {
            font-weight: 400;
          }
        }
      }
    }
  }

  
  // ---------- SECTION 4 - THE EXPERIENCE
  .project__section4 {
    display: flex;
    // border: 1px solid red;
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
    padding: 100px 0;

    .img_slider_img_desc {
      width: 55%;
      padding: 0 50px;
      position: relative;

      .img_desc {
        width: 50%;
        background-color: #fff;
        color: black;
        padding: 25px;
        position: absolute;
        z-index: 1;

        .by {
          font-size: 0.9rem;
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
        }
      }
      .slider-container {
        width: 80%;
        // height: 100%;
        height: auto;
        margin: 15px auto 125px;
        position: relative;

        .slick-slider {
          width: 100%;
          height: 625px;
          display: flex;
          justify-content: center;
          // max-height: 600px;
          position: relative;

          .slick-list {
            width: 100%;
            // box-shadow: 0 0 10px silver;
            overflow: hidden;

            .slick-track {
              width: 100%;
              height: 100%;
            }
  
            .slick-slide {
              display: flex;
              align-items: center;

              img {
                // width: 100%;
                width: inherit;
                height: auto;
                object-fit: cover;
              }
            }
          }
          ul.slick-dots {
            bottom: -100px;

            li {
              width: auto;
              height: auto;
              opacity: 0.5;

              &.slick-active {
                opacity: 1;
              }

              img {
                width: auto;
                height: 65px;
                object-fit: cover;
              }
            }
          }

          .slick-arrow {
            width: 40px !important;
            height: 60px !important;
            background: rgba(0, 0, 0, 0.5);
            padding: 5px;
            position: absolute;

            &.slick-prev {
              left: 0 !important;
            }
            &.slick-next {
              right: 0 !important;
            }
          }
        }
      }
    }

    .heading_body {
      width: 45%;
      padding: 0 50px 0 0px;

      h2 {
        margin-bottom: 25px;
      }
      p {
        margin-bottom: 20px;

        strong {
          font-weight: 400;
        }
      }
      .second-p {
        margin-top: 50px;
      }
      .body {
        position: relative;
      }
    }
  }


  // ---------- SECTION 5 - TWO UNIQUE EXHIBITIONS
  .project__section5 {
    background-color: var(--dark-gray-2B282C);
    color: white;
    padding: 100px 0px;
    position: relative;
    overflow: hidden;

    .heading {
      margin: 0 auto 50px;
      max-width: 1280px;
      padding: 0 50px;
      position: relative;
    }
    .body {
      margin: 0 auto 50px;
      max-width: 1280px;
      padding: 0 50px;

      p {
        margin-bottom: 20px;

        strong {
          font-weight: 400;
        }
      }

      > div {
        display: flex;

        .col-left {
          width: calc(50% + 50px);
          padding-right: 50px;
        }
        .col-right {
          width: 50%;
        }
      }
    }
  }


  // ---------- SECTION 6 - PROJECT OUTCOMES
  .project__section6 {
    // border: 1px solid red;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 200px 50px;

    .heading {
      text-align: center;

      h2 {
        margin-bottom: 75px;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: calc(33%);
        list-style: none;
        padding-right: 50px;

        p:first-of-type {
          width: 0%;
          overflow: hidden;
        }
        p {
          width: 100%;
          margin-bottom: 25px;

          strong {
            width: 100%;
            background: black;
            color: whitesmoke;
            font-weight: 400;
            line-break: unset;
            overflow: hidden;
            padding: 2px 5px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }


  // ---------- PREV, NEXT BTN
  .btn__prev_next {
    width: 100%;
    height: 50px;
    // display: flex;
    // justify-content: space-between;
    margin: 0 auto 50px;
    max-width: 1280px;
    // padding-bottom: 50px;

    .article_prev_arrow,
    .article_next_arrow {
      display: flex;

      .prev_article,
      .next_article {
        width: fit-content;
        display: flex;
        align-items: center;
        position: relative;

        p {
          font-size: 1.5rem;
          font-weight: 400;

          a {
            text-decoration: none;
          }
        }
      }

      .theme-switch-asset-no-link {
        display: flex;
        align-items: center;

        img {
          width: auto;
          height: 25px;
        }
      } 
    }
    .article_prev_arrow {
      float: left;
      flex-direction: row-reverse;
      justify-content: start;
      margin-left: 45px;

      .prev_article {
        margin-left: 10px;
      }
      .theme-switch-asset-no-link:last-of-type {
        display: none;
      }
    }
    .article_next_arrow {
      justify-content: end;
      margin-right: 45px;

      .next_article {
        margin-right: 10px;
      }
      .theme-switch-asset-no-link:first-of-type {
        display: none;
      }
    }
  }





  // -------------------- CUSTOM STYLING
  // The Magic of Giotto
  .the-magic-of-giotto {
    .project__section3 {
      ul {
        li {
          p:last-of-type {
            width: 75%;
          }
        }
      }
    }
  }

  // PAD - Padiglione Venezia
  &.pad-padiglione-venezia {
    .project__section3 {
      ul {
        li {
          width: 33.333333%;
          padding-right: 25px;
        }
      }
    }
    .project__section5 { 
      height: 65vh; 
    
      .imgs_container {
        margin: 0 auto;
        max-width: 1280px;

        img { object-fit: cover; }
      }
    }
    .project__section6 {
      ul {
        li {
          width: 33.333333%;
          padding-right: 25px;
        }
      }
    }
  }

  // Progetto Genesi
  &.progetto-genesi {
    .project__section5 { 
      height: 50vh;

      .imgs_container {
        img { object-fit: cover; }
      }
    }
    .project__section6 {
      ul {
        li {
          width: 33.333333%;
          padding-right: 25px;
        }
      }
    }  
  }

  // Niguarda: Orientarsi
  &.niguarda-orientarsi {
    .project__section5 { 
      height: 65vh; 

      img {
        object-fit: cover;
      }
    }
    .project__section6 {
      ul {
        li {
          width: 25%;
          padding-right: 25px;
        }
      }
    }
  }



  // -------------------- MEDIA QUERIES
  @media (min-width: 1800px) {

  }
  @media (max-width: 1400px) {

  }
  // @media (max-width: 1440px) {}
  @media (max-width: 1280px) {

  }
  @media (max-width: 1024px) {
    .project__section3 {
      ul {
        li {
          margin-bottom: 50px;
          padding-right: 0;

          p:last-of-type {
            width: calc(100% - 50px);
          }
        }
      }
    }
  }

  // @media (max-width: 912px) {}
  @media (max-width: 820px) {

  }

  @media (max-width: 768px) {
    .project__hero {
      height: 600px;

      h1 { font-size: 8vw !important; }
      h2 { font-size: 4vw !important; }
    }

    .project__section2 {
      padding: 100px 50px 75px;

      .heading {
        width: 100%;
        text-align: center;
      }
      .body_img_video {
        flex-direction: column;

        .body {
          width: 100%;
          margin-bottom: 50px;

          p {
            padding: 0;
          }
        }
        img {
          width: 100%;
        }
      }
      .body_img_video .youtube_video {
        width: 100%;
      }
      .list_items ul li {
        width: 50%;
      }
    }

    .project__section3 {
      padding: 125px 0 75px;

      ul {
        li.body {
          width: 100%;
        }
      }

    }


    .project__section4 {
      flex-direction: column-reverse;

      .heading_body {
        width: 100%;
        padding: 50px 50px 0;
      }

      .img_slider_img_desc {
        width: 100%;
      }
    }

    .project__section5 {
      .body {
        margin: 0 auto;

        > div {
          flex-direction: column;

          .col-left,
          .col-right {
            width: 100%;
          }
        }
      }
    }

    .project__section6 {
      padding: 100px 50px;

      ul {
        li.body {
          width: 100%;
          margin-bottom: 25px;
          padding-right: 0;
        }
      }
    }


    .btn__prev_next .article_prev_arrow .prev_article p, 
    .btn__prev_next .article_prev_arrow .next_article p, 
    .btn__prev_next .article_next_arrow .prev_article p, 
    .btn__prev_next .article_next_arrow .next_article p {
      font-size: 1.1rem;
    }
    .btn__prev_next .article_prev_arrow .prev_article {
      margin-left: 5px;
    }
    .btn__prev_next .article_next_arrow .next_article {
      margin-right: 5px;
    }
    .article_prev_arrow,
    .article_next_arrow {
      width: 40%;
    }
    .article_next_arrow {
      float: right;
    }
  }

  @media (max-width: 568px) {
    .project__hero {
      height: 500px;
    }
    .project__section2 {
      padding: 75px 25px 25px;
    }
    .project__section3 {
      padding: 75px 0 50px;
      
      .heading {
        padding: 0 25px;
      }
      ul {
        padding: 0 25px;

        li:last-of-type {
          margin: 0;
        }
        li {
          p:last-of-type {
            width: 100%;
          }
        }
      }
    }
    .project__section4 {
      padding: 75px 0 50px;

      .img_slider_img_desc {
        padding: 0 25px;

        .img_desc {
          width: 100%;
          padding: 20px;
          position: relative;
        }

        .slider-container {
          width: 100%;
        }
      }
      .heading_body {
        padding: 50px 25px 0;
      }
    }
    .project__section5 {
      padding: 75px 0;

      .heading {
        padding: 0 25px;
      }
      .body {
        padding: 0 25px;
      }
    }
    .project__section6 {
      padding: 75px 25px;
    }
    .btn__prev_next {
      display: flex;
      flex-direction: column;

      .article_prev_arrow {
        width: 100%;
        margin: 0 0 20px 0;
        padding-left: 15px;
      }
      .article_next_arrow {
        width: 100%;
        margin-right: 0;
        padding-right: 15px;

        .next_article {
          p {
            text-align: right;
          }
        }
      }
    }
    
    
    // PAD - Padiglione Venezia
    &.pad-padiglione-venezia {
      .project__section5 {
        height: 50vh;

        .imgs_container {
          img:last-of-type {
            margin: auto;
            z-index: 100;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
  // @media (max-width: 540px) {}

  @media (max-width: 430px) {
    .project__section2 {
      .body_img_video {
        .youtube_video {
          > div {
            height: 250px !important;
          }
        }
      }
    }
    .project__section4 {
      padding: 25px 0 50px;
    }
    
    // Progetto Genesi
    &.progetto-genesi {
      .project__section5 { 
        height: 30vh;
      }
    }
    // Niguarda: Orientarsi
    &.niguarda-orientarsi {
      .project__section5 { 
        height: 30vh;
      }
    }
  }
  // @media (max-width: 414px) {}
  // @media (max-width: 390px) {}
}

// -------------------- LIGHT / DARK MODE
html.light {
  #project_view__id {
    .project__section6 ul li p strong {
      background: black;
      color: white;
    }
    .btn__prev_next p a {
      color: black;
    }
  }

}
html.dark {
  #project_view__id {
    .project__section6 ul li p strong {
      background: white;
      color: black;
    }
    .btn__prev_next p a {
      color: white;
    }
  }
}


