#mit__id {
  .mit__section4 {
    .rs__multi_items_slider {
      // border: 2px solid blue;
      position: relative;
      top: -50px;

      .slick-slider {

        .slick-arrow {
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 45px;
          width: 50px !important;
          height: 50px !important;
          padding: 10px;
        }
       
        .slick-list {

          .slick-slide {
            display: block;
            height: auto;
            // margin: 0 25px;
            padding: 20px;
            text-align: center;

            .slide {
              background: #fff;
              padding: 25px;

              p {
                font-size: 0.9rem;
                strong {
                  font-weight: 400;
                }
              }
              p:first-of-type {
                margin-bottom: 25px;
              }
              p:last-of-type {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }  
}
