#blog__component {
  header {
    // background-color: var(--off-white-f5f5f5);
    // background-color: silver;
    padding: 75px 50px;

    .blog__component_container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1440px;

      .blog__heading_subheading {
        // border: 2px solid blue;
        
        p {
          margin-bottom: 20px;
        }
        // h1 {}
      }

      form {
        border: 1px solid gray;
        width: 300px;
        height: 50px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        position: relative;

        .img {
          width: 20px;
          height: 20px;
          align-self: center;
          margin-left: 15px;
        }

        input {
          // border: 1px solid;
          border: none;
          width: 88%;
          height: 80%;
          color: silver;
          font-family: inherit;
          font-size: 18px;
          letter-spacing: 1px;
          display: flex;
          align-self: center;
          padding-left: 10px;
        }
        button {
          display: none;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1440px;
    padding: 35px 20px 25px;

    li {
      width: 33.333333%;
      list-style: none;
      padding: 0 25px 75px;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
      }
      span {
        color: gray;
      }
      p {
        font-size: 20px;
        margin: 20px 0 25px;
        -webkit-font-smoothing: unset;
      }
      a {
        color: gray;
        font-size: 13px;
      }
      a:nth-of-type(2) {
        color: white;
        text-decoration: none;
      }
    }
  }


  
  // -------------------- MEDIA QUERIES
  // @media (max-width: 1440px) {}
  // @media (max-width: 1280px) {}

  @media (max-width: 1024px) {
    ul li {
      padding: 0 15px 75px;
    }
  }

  @media (max-width: 912px) {
    ul {
      padding: 35px 10px 25px;
    }
  }

  @media (max-width: 820px) {
    header {
      .blog__component_container {
        flex-direction: column;

        .blog__heading_subheading {
          h1 {
            margin-bottom: 25px;
          }
        }
        form {
          width: 100%;

          input {
            width: 93%;
          }
        }
      }      
    }

    ul li {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    header {
      padding: 125px 50px 75px;
    }
  }

  @media (max-width: 568px) {
    ul li {
      padding: 0 15px 50px;
    }
  }

  // @media (max-width: 540px) {}
  // @media (max-width: 430px) {}
  // @media (max-width: 414px) {}
  // @media (max-width: 390px) {}
}




// -------------------- DARK / LIGHT MODE
html.light {
  #blog__component {
    header {
      background-color: var(--off-white-f5f5f5);
      .blog__component_container {
        form {
          background-color: var(--white-fff);

          .img {
            width: 20px;
            height: 20px;
            background-image: url("../../../../public/home-imgs/mag-glass-black.png");
            background-size: contain;
          }
        }
      }
    }
    ul {
      li {
        a {
          p {
            color: black;
            font-weight: 400;
          }
        }
      }
    }
  }
}


html.dark {
  #blog__component {
    header {
      background-color: var(--dark-gray-2B282C);

      .blog__component_container {
        form {
          background-color: var(--black-000);

          .img {
            width: 20px;
            height: 20px;
            background-image: url("../../../../public/home-imgs/mag-glass-white.png");
            background-size: contain;
          }
        }
      }
    }
  }
}

